---
faq:
  - question: What is DN42? / 什么是 DN42？
    answer: Decentralized network 42 (also known as dn42) is a decentralized peer-to-peer network built using VPNs and software/hardware BGP routers.<br/>分布式网络 42（也称为 DN42）是使用 VPN 和软件/硬件 BGP 路由器构建的分布式对等网络。
  - question: What's your relationship with Niantic Network and Strategic Explorations? / 你们与 Niantic Network 和 Strategic Explorations 有何联系？
    answer: TL;DR - Same as that of CenturyLink and Level3. / 如同 CenturyLink 和 Level3 一样的关系。<br/>We consist of the merger of the latter two network-related departments, inheriting all their network infrastructure and permissions.<br/>我们由后两者的网络相关部门合并构成，继承了他们的所有网络基础设施和权限。
  - question: Do you provide transit service within China? / 你们是否提供中国境内的 Transit 服务？
    answer: We can only guarantee to a limited extent, so we strongly recommend using your own network or a more reliable service.<br/>我们仅仅能有限度地保证，因此我们强烈建议使用自己的网络或更可靠的服务。
  - question: We are Tier 1 operator, are you interested in xxx ... / 我们是 Tier 1 运营商,你们是否对 xxx 感兴趣 ...
    answer: No / 不
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
